.Loginpage {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background:
    radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%), 
    url('../../Images/joker.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: auto;

  &::after {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .6);
    position: absolute;
    top: 0;
    z-index: 1;
    animation: h-bg-fade 1.5s 1;
  }
}

.h-links {
  display: block;
  font-family: 'Lato' sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  animation: login-links-scale 1.5s 1s 1 forwards;
  & .h-link, & .h-link:visited{
    color : #fff !important;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  & .h-link:hover {
    color : $color-primary !important;
    text-decoration: none !important;
  }
}