.movie-container {
    background-color: black;
    width: 100vw;
    min-height: 75rem;
    background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: search-box-scale 1.5s;
    background-image: url('../../Images/notfound.png');
    &::after {
        content: '';
        background-color: rgba($color: #000000, $alpha: .6);
        backdrop-filter: blur(.75rem);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & div {
        z-index: 1;
    }
    & .h-search {
        z-index: 1;
    }
    & .h-title {
        color: #ffffff;
        font-size: 3rem;
        text-align: center;
    }
    & input {
        transition: all .3s ease-in-out;
    }
    & input:focus {
        margin-top: 3rem;
    }
    & button {
        text-align: center;
        display: relative;
        margin: auto;
        display: block;
        padding: .5rem 2rem;
    }
}

.movie-flyer {
    width: 100%;
    height: 500px;
    background-color: black;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    background-image: url('../../Images/notfound.png');
}

.movie-data {
    width: 100%;
    height: 500px;
    color: #fff;
    margin-bottom: 1rem;
    & .title {
        font-size: 3.6rem;
        font-weight: 600;
    }
    & .tags {
        width: 100%;
        padding: .5rem 0rem;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        margin-bottom: 1rem;
        & .tag {
            display: inline-block;
            padding: .5rem 1.5rem;
            font-size: 1.8rem;
            font-weight: 600;
            border: 1px solid #fff;
            border-radius: .1rem;
            transition: all .3s ease-in-out;
        }
        & .tag:not(:last-child) {
            margin-right: .8rem;
        }
        & .tag:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }
    & .description {
        font-size: 1.8rem;
        font-weight: 100;
        max-height: 25rem;
        overflow-y: auto;
    }
    & .prodyear {
        font-size: 1.8rem;
        font-weight: 600;
        & span {
            font-weight: 300;
        }
    }
    & .rating {
        font-size: 1.8rem;
        font-weight: 600;        
        & span {
            background-color: goldenrod;
            color: #000;
            padding: 0 .5rem;
            border-radius: 1px;
            margin-left: .3rem;
        }
    }
}

.actor-card {
    height: 25vw;
    min-height: 35rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: flex-end;
    animation: movie-card-scale 1.5s;
    background-image: url('../../Images/notfound.png');
    & .title{
        flex: 1;
        text-align: center;
        background-image: linear-gradient(rgba($color: #000, $alpha: .0), rgba($color: #000, $alpha: .75));
        overflow: hidden;
        overflow-wrap: break-word;
        text-transform: capitalize;
        transition: all .3s ease-in-out;
        color: #fff;
        font-size: 1.6rem;
        z-index: 1;
        transition: all .3s ease-in-out;
    }
}

.actors {
    height: 25vw;
    min-height: 35rem;
    overflow: hidden;
    overflow-y: auto;
}

.mirrors {
    width: 100%;
    padding-bottom: 5rem;
}

.mirror {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 1px;
    color: #fff;
    font-size: 1.6rem;
    padding: 2rem .5rem .8rem .5rem;
    font-weight: 700;
    transition: all .3s ease-in-out;
    text-align: center;
    & p {
        display: inline-block;
        &:not( :last-child ){
            margin-right: 1rem;
        }
    }
    & span {
        font-weight: 300;
    }
    &:hover{
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;
    }
}
@media screen and (max-height : 750px) {
    .movie-flyer {
        margin-top: 9rem;
        width: 100%;
        height: 500px;
        background-color: black;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
    }
}